/* Remove the #app selector if it's specific to a component */
input[type="range"] {
  -webkit-appearance: none;
  outline: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
#red {
  background: linear-gradient(90deg, rgb(0,0,0), rgb(255,0,0));
}
#green {
  background: linear-gradient(90deg, rgb(0,0,0), rgb(0,255,0));
}
#blue {
  background: linear-gradient(90deg, rgb(0,0,0), rgb(0,0,255));
}
label {
  margin-left: 5px;
  position: relative;
  top: -2px;
}
